/* signup.css */

.min-h-screen {
  /* background-color: #ede4e4; */
  padding: 5px;
 
}
  
  /* signup.css */

.form-container {
  border: 2px solid #b4b0c9; /* Border style */
  padding: 35px; /* Add padding for spacing */
  border-radius: 8px; /* Optional: Add border radius for rounded corners */
  margin-left: 20px;
  width: 100%;
  margin: auto; 
}
/* .message{
  margin-right : 10px ;
  margin-left:20px;
} */
/* Input Styles */
.form-container input {
  padding: 8px 12px;
  margin-bottom: 10px;
  border: 1px solid #ccd0e0;
  border-radius: 5px;
  font-size: 16px;
 
}

.form-container input:focus {
  outline: none;
  border-color: #3f1b75; /* Change border color on focus */
}











  /* Button Styles */
.form-container .button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-image: linear-gradient(to right, #ff6e7f, #bfe9ff);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-container .button:hover {
  background-image: linear-gradient(to right, #ff92a5, #86c8ff);
}


